@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller.eot') format('eot'),
       url('../fonts/Aller.woff') format('woff'),
       url('../fonts/Aller.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}