// Font Variables
$base-font : Arial, Helvetica, sans-serif;
$headerFont : 'Aller';

// Media Queries
$md : 1200px;
$sm : 990px;
$xs : 767px;
$xss : 560px;

// Color Variables
$white : #ffffff;
$black : #000000;
$yellow : #fff000;
$purple : #3c0074;
$pink : #cc12aa;
$brown : #5e2702;


// Text align Variables

$text-right : right;
$text-left : left;
$text-center : center;